.dropdown-menu .single-element a {
  color: #aaabac;
  border-bottom: 1px solid #aaabac;
}

.main {
  background-color: rgba(255, 255, 255, 0.5);
}

.main-element {
  margin: 10px auto;
}

body {
  background-image: url("assets/background-image.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
